# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [41]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [42]:
# Calculate the total number of schools
schnum=len(school_data_complete["school_name"].unique())
# Calculate the total number of students
stunum=len(school_data_complete["student_name"])
# Calculate the average math score
mathsc=sum(school_data_complete["math_score"])/stunum
# Calculate the average reading score
readsc=sum(school_data_complete["reading_score"])/stunum
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
ovrsc=(mathsc+readsc)/2
#Calculate the percentage of students with a passing math score (70 or greater)
pass_math = len(school_data_complete.loc[school_data_complete["math_score"] >= 70, :])*100/stunum
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_read=len(school_data_complete.loc[school_data_complete["reading_score"] >= 70, :])*100/stunum
#Calculate the total budget
school_budg=sum(school_data_complete["budget"].unique())
#Create a dataframe to hold the above results
df_summary=pd.DataFrame([{"Total Schools": schnum
                          , "Total Students": stunum
                          , "Total Budget": school_budg
                          , "Average Math Score": mathsc
                          , "Average Reading Score": readsc
                          , "% Passing Math": pass_math
                          , "% Passing Reading": pass_read
                          , "% Overall Passing Rate": ovrsc}])
#displayed data cleaner formatting
df_summary["% Passing Math"]=df_summary["% Passing Math"].map("{:.2f}%".format)
df_summary["% Passing Reading"]=df_summary["% Passing Reading"].map("{:.2f}%".format)
df_summary["% Overall Passing Rate"]=df_summary["% Overall Passing Rate"].map("{:.2f}%".format)
df_summary["Average Math Score"]=df_summary["Average Math Score"].map("{:.2f}".format)
df_summary["Average Reading Score"]=df_summary["Average Reading Score"].map("{:.2f}".format)
df_summary=df_summary[["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
df_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98%,85.81%,80.43%

* Sort and display the top five schools in overall passing rate

In [43]:
#overview table that summarizes key metrics about each school
school_gb=school_data_complete.groupby("school_name")
type=school_gb["type"].max()
#Total Students
totstudents=school_gb["student_name"].count()
#Total School Budget
budget=school_gb["budget"].max()
#Per Student Budget
bdt_per_stu=budget/totstudents
#Average Math Score
avg_math=school_gb["math_score"].mean()
#Average Reading Score
avg_read=school_gb["reading_score"].mean()
#calculation for % passing math and reading
#capture dataframe for each population
perMath=school_data_complete.loc[school_data_complete["math_score"]>=70, :]
perRead=school_data_complete.loc[school_data_complete["reading_score"]>=70, :]
#group by for each school and population of each school
school_m_gb= perMath.groupby("school_name")
school_r_gb=perRead.groupby("school_name")
passMath=school_m_gb["student_name"].count()
passRead=school_r_gb["student_name"].count()
school_summary_df=pd.DataFrame({"School Type": type
                                , "Total Students": totstudents
                               , "Total School Budget": budget
                               , "Per Student Budget": budget/totstudents
                               , "Average Math Score": avg_math
                               , "Average Reading Score": avg_read
                                #final calc for percent passing
                               , "% Passing Math": passMath*100/totstudents
                               , "% Passing Reading": passRead*100/totstudents
                                #total percent passing
                               , "% Overall Passing Rate": ((passMath/totstudents)+(passRead/totstudents))/2 * 100})
#formatting
school_summary_df["Average Math Score"]=school_summary_df["Average Math Score"].map("{:.2f}%".format)
school_summary_df["Average Reading Score"]=school_summary_df["Average Reading Score"].map("{:.2f}%".format)
school_summary_df["% Passing Math"]=school_summary_df["% Passing Math"].map("{:.2f}%".format)
school_summary_df["% Passing Reading"]=school_summary_df["% Passing Reading"].map("{:.2f}%".format)
school_summary_df["% Overall Passing Rate"]=school_summary_df["% Overall Passing Rate"].map("{:.2f}%".format)
#sorting
school_sort_best=school_summary_df.sort_values("% Overall Passing Rate",ascending=False)
school_sort_best.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.06%,83.98%,94.13%,97.04%,95.59%
Thomas High School,Charter,1635,1043130,638.0,83.42%,83.85%,93.27%,97.31%,95.29%
Griffin High School,Charter,1468,917500,625.0,83.35%,83.82%,93.39%,97.14%,95.27%
Pena High School,Charter,962,585858,609.0,83.84%,84.04%,94.59%,95.95%,95.27%
Wilson High School,Charter,2283,1319574,578.0,83.27%,83.99%,93.87%,96.54%,95.20%

In [44]:
#Bottom Performing Schools (By Passing Rate)
#Sort and display the five worst-performing schools
school_sort_worst=school_summary_df.sort_values("% Overall Passing Rate")
school_sort_worst.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.84%,80.74%,66.37%,80.22%,73.29%
Figueroa High School,District,2949,1884411,639.0,76.71%,81.16%,65.99%,80.74%,73.36%
Huang High School,District,2917,1910635,655.0,76.63%,81.18%,65.68%,81.32%,73.50%
Johnson High School,District,4761,3094650,650.0,77.07%,80.97%,66.06%,81.22%,73.64%
Ford High School,District,2739,1763916,644.0,77.10%,80.75%,68.31%,79.30%,73.80%

In [45]:
#Math Scores by Grade breakdown
# pandas for each grade
nine_df=school_data_complete.loc[school_data_complete["grade"]=="9th", :]
ten_df=school_data_complete.loc[school_data_complete["grade"]=="10th", :]
eleven_df=school_data_complete.loc[school_data_complete["grade"]=="11th", :]
twelve_df=school_data_complete.loc[school_data_complete["grade"]=="12th", :]
nine_gb=nine_df.groupby("school_name")
ten_gb=ten_df.groupby("school_name")
eleven_gb=eleven_df.groupby("school_name")
twelve_gb=twelve_df.groupby("school_name")
nine_score=nine_gb["math_score"].mean()
ten_score=ten_gb["math_score"].mean()
eleven_score=eleven_gb["math_score"].mean()
twelve_score=twelve_gb["math_score"].mean()
#Combine the series into a dataframe
math_df=pd.DataFrame({"9th": nine_score
                     , "10th": ten_score
                     , "11th": eleven_score
                     , "12th": twelve_score})
#formatting
math_df["9th"]=math_df["9th"].map("{:.2f}%".format)
math_df["10th"]=math_df["10th"].map("{:.2f}%".format)
math_df["11th"]=math_df["11th"].map("{:.2f}%".format)
math_df["12th"]=math_df["12th"].map("{:.2f}%".format)
math_df

                          9th    10th    11th    12th
school_name
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

In [46]:
#Reading Score by Grade
#breakdown reading for each grade
nine_rscore=nine_gb["reading_score"].mean()
ten_rscore=ten_gb["reading_score"].mean()
eleven_rscore=eleven_gb["reading_score"].mean()
twelve_rscore=twelve_gb["reading_score"].mean()
# combine into data frame
read_df=pd.DataFrame({"9th": nine_score
                     , "10th": ten_score
                     , "11th": eleven_score
                     , "12th": twelve_score})
#formatting
read_df["9th"]=read_df["9th"].map("{:.2f}%".format)
read_df["10th"]=read_df["10th"].map("{:.2f}%".format)
read_df["11th"]=read_df["11th"].map("{:.2f}%".format)
read_df["12th"]=read_df["12th"].map("{:.2f}%".format)
read_df

                          9th    10th    11th    12th
school_name
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

In [50]:
#Table to breakdown grades per spending based off reasonable allocations
# bins creation
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
school_summary_df["Spending Ranges (Per Student)"]=pd.cut(school_summary_df["Per Student Budget"], spending_bins, labels=group_names)
#group by based off previous dataframe
school_summary_gb=school_summary_df.groupby("Spending Ranges (Per Student)")

sch_summ_df=school_summary_gb.max()

sch_summ_fin=sch_summ_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
sch_summ_fin

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.80%,83.99%,94.13%,97.04%,95.59%
$585-615,83.84%,84.04%,94.59%,95.95%,95.27%
$615-645,83.42%,83.85%,93.39%,97.31%,95.29%
$645-675,77.29%,81.18%,66.75%,81.32%,73.81%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [21]:
# grade breakdown on school size
# bin allocation and creation
size_bins = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_size_df=pd.DataFrame(school_summary_df[["Total Students", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]])
school_size_df
school_size_df["School Size"]=pd.cut(school_size_df["Total Students"], size_bins, labels=group_names2)
school_summary_gb2=school_size_df.groupby("School Size")
school_sumsiz_df=school_summary_gb2.max()
school_size_fin=school_sumsiz_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
school_size_fin

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.84%,84.04%,94.59%,96.25%,95.27%
Medium (1000-2000),83.68%,83.98%,94.13%,97.31%,95.59%
Large (2000-5000),83.27%,83.99%,93.87%,96.54%,95.20%

In [55]:
# breakdown of grades based on school type
school_type_df=pd.DataFrame(school_summary_df[["School Type", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]])
school_type_gb=school_type_df.groupby("School Type")
school_type_gb.max()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.84%,84.04%,94.59%,97.31%,95.59%
District,77.29%,81.18%,68.31%,81.93%,74.31%